* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

.container {
  padding: 0;
}

header {
  width: 100%;
  height: auto;
  background: #ffea00;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0;
}

header .ornament {
  width: 40%;
}

header .logo {
  width: 200px;
}

#banner {
  background: #ffea00;
  width: 100%;
  height: auto;
}

#banner .container {
  max-width: 1200px;
  text-align: center;
  padding: 40px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#banner .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#banner .container .row .col-sm {
  width: auto;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#banner .container .row .col-sm img {
  width: 400px;
}

#banner .container .row .col-sm h1 {
  font-size: 40px;
  font-weight: 800;
  color: #101010;
  text-align: left;
}

#banner .container .row .col-sm h3 {
  font-size: 30px;
  font-weight: 500;
  color: #101010;
  text-align: left;
  padding: 10px 0;
}

#banner .container .row .col-sm h3 span {
  font-size: 20px;
  font-weight: 400;
}

#banner .container .row .col-sm p {
  font-size: 18px;
  font-weight: 700;
  color: #101010;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
  text-transform: uppercase;
}

#banner .container .row .col-sm p .check {
  font-size: 25px;
  font-weight: 800;
  margin: 0;
  padding-right: 5px;
}

#banner .container .row .col-sm .selo-garantia {
  margin-top: 10px;
  width: 350px;
  float: left;
}

.title-saches {
  background: #101010;
  width: 100%;
  height: auto;
  padding-top: 4em;
}

.title-saches h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 600;
  text-align: center;
}

.title-saches h1 span {
  font-weight: 800;
  color: #ffea00;
  font-size: 38px;
}

.title-saches p {
  color: #fff;
  font-size: 20px;
}

.title-saches img {
  width: 50px;
}

#saches {
  background-color: #101010;
}

#saches .bg-color {
  background: url("../img/bg-chemical.svg");
  background-repeat: no-repeat;
  width: 100%;
}

#saches .bg-color .container {
  padding: 4em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#saches .bg-color .container .row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

#saches .bg-color .container .row .col-sm {
  width: auto;
  margin: 0;
  padding: 0;
}

#saches .bg-color .container .row .col-sm a .box {
  width: 280px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 1em gold;
          box-shadow: 0 0 1em gold;
}

#saches .bg-color .container .row .col-sm a .box-center {
  width: 350px;
  border-radius: 20px;
  -webkit-box-shadow: 0 0 1em gold;
          box-shadow: 0 0 1em gold;
}

.title-sobre {
  background: #101010;
  padding-top: 4em;
}

.title-sobre h1 {
  color: #fff;
  text-transform: uppercase;
  font-weight: 800;
  margin: 0;
}

.title-sobre h1 span {
  color: #ffea00;
}

#sobre {
  background: #101010;
  width: 100%;
}

#sobre .container {
  padding: 4em 0;
}

#sobre .container .row {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#sobre .container .row .col-sm {
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

#sobre .container .row .col-sm img {
  width: 170px;
}

#sobre .container .row .col-sm h3 {
  font-weight: 600;
  padding-top: 20px;
  color: #fff;
}

#sobre .container .row .col-sm p {
  padding: 10px 20px;
  line-height: 27px;
  font-weight: 600;
  color: #fff;
}

#garantia {
  background-image: url("../img/garantia-bg.jpg");
  width: 100%;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#garantia .container {
  padding: 50px;
}

#garantia .container .row .col-sm h1 {
  font-size: 46px;
  font-weight: 800;
  color: #fff300;
  padding: 5px 0;
  text-align: center;
  text-transform: uppercase;
}

#garantia .container .row .col-sm h1 span {
  color: #3acf2b;
}

#garantia .container .row .col-sm p {
  font-size: 18px;
  font-weight: 700;
  color: #fff;
  padding: 5px 0;
  text-align: left;
}

#garantia .container .row .col-sm p span {
  color: #3acf2b;
}

#garantia .container .row .col-sm img {
  float: right;
}

.title-resultados {
  background: #a3d1dc;
  width: 100%;
  height: auto;
  padding-top: 4em;
}

.title-resultados h1 {
  color: #000;
  font-size: 40px;
  font-weight: 800;
  text-align: center;
  margin: 0 auto;
}

.title-resultados h1 span {
  color: #000;
}

.title-resultados h3 {
  font-size: 28px;
  color: #000;
  font-weight: 700;
  text-align: center;
  padding-top: 10px;
  margin: 0 auto;
}

#resultados {
  background: #a3d1dc;
}

#resultados .container {
  padding: 4em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#resultados .container .row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (auto)[3];
      grid-template-columns: repeat(3, auto);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 20px;
}

#resultados .container .row .col-sm {
  width: auto;
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#resultados .container .row .col-sm img {
  height: 600px;
}

.title-duvidas {
  background: #101010;
  width: 100%;
  height: auto;
  padding-top: 50px;
}

.title-duvidas h1 {
  color: #fff;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
  margin: 0 auto;
}

#duvidas {
  background: #101010;
  width: 100%;
}

#duvidas .container {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 40px;
}

#duvidas .container .faq {
  width: 100%;
  color: #fff;
}

#duvidas .container .faq .faq-list {
  margin: 50px auto;
}

#duvidas .container .faq .faq-list .faq-question,
#duvidas .container .faq .faq-list .faq-answer {
  background: #303030;
}

#duvidas .container .faq .faq-list .faq-question {
  padding: 20px 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  margin-top: 8px;
  margin-bottom: 1px;
  font-size: 20px;
}

#duvidas .container .faq .faq-list .faq-question::after {
  content: " ";
  display: block;
  width: 18px;
  height: 18px;
  background: url("../img/x.svg") no-repeat center;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

#duvidas .container .faq .faq-list .faq-question.active::after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#duvidas .container .faq .faq-list .faq-answer {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
  transition: max-height 0.25s cubic-bezier(0.5, 0, 0.1, 1);
}

#duvidas .container .faq .faq-list .faq-answer p {
  font-size: 17px;
  padding: 20px 30px;
}

#duvidas .container .faq .faq-list .faq-answer.active {
  max-height: 1200px;
}

#duvidas img {
  width: 350px;
  margin-top: 20px;
}

.title-adquirir {
  background-image: url("../img/bg.png");
  background-size: cover;
  width: 100%;
  padding-top: 50px;
}

.title-adquirir .container h1 {
  color: #000;
  font-size: 35px;
  font-weight: 800;
  text-align: center;
}

.title-adquirir .container h1 span {
  color: #3acf2b;
}

#adquirir {
  background-image: url("../img/bg.png");
  background-size: cover;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#adquirir .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 50px;
}

#adquirir .container .gif {
  width: 60%;
  -webkit-box-shadow: 1px 1px 5px #1a1a1a;
          box-shadow: 1px 1px 5px #1a1a1a;
  margin-bottom: 30px;
}

#adquirir .container p {
  font-size: 18px;
  font-weight: 600;
}

#adquirir .container img {
  width: 350px;
  margin-top: 20px;
}

@media screen and (max-width: 1000px) {
  #adquirir .container .gif {
    width: 100%;
    -webkit-box-shadow: 1px 1px 5px #1a1a1a;
            box-shadow: 1px 1px 5px #1a1a1a;
    margin-bottom: 30px;
  }
  #adquirir .container img {
    width: 350px;
    margin-top: 20px;
  }
}

footer {
  background: #101010;
  width: 100%;
}

footer .container {
  padding: 30px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .container .row {
  width: 100%;
}

footer .container .row .col-sm h3 {
  font-size: 23px;
  color: #fff;
  padding-bottom: 15px;
}

footer .container .row .col-sm p {
  color: #ccc;
}

footer .container .row .col-sm p span {
  font-size: 18px;
  font-weight: 600;
}

footer .container .row .col-sm .fm-pagamento {
  width: 250px;
}

.copy {
  background: #101010;
  border-top: 1px solid #333;
  padding: 10px 0;
}

.copy p {
  color: #ccc;
  text-align: center;
  margin: 0;
}

@media only screen and (max-width: 768px) {
  footer .col-rede-social ul li {
    text-align: center;
  }
}

@media only screen and (max-width: 800px) {
  * {
    margin: 0 auto;
    padding: 0;
  }
  header {
    border-bottom: 3px solid #101010;
  }
  header .logo {
    width: 200px;
  }
  header .ornament {
    display: none;
  }
  #banner {
    padding: 10px 0;
    margin: 0 auto;
  }
  #banner .container .row {
    width: 400px;
  }
  #banner .container .row .col-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #banner .container .row .col-sm img {
    width: 55%;
  }
  #banner .container .row .col-sm h1 {
    font-size: 30px;
    text-align: center;
  }
  #saches .bg-color .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #saches .bg-color .container .row .col-sm {
    width: auto;
    padding: 30px 0;
    margin: 0 auto;
  }
  #sobre .container .row {
    margin: 0 auto;
  }
  #sobre .container .row .text-center {
    margin: 0;
  }
  #sobre .container .row .col-sm {
    padding: 0;
  }
  #sobre .container .row .col-sm img {
    width: 150px;
  }
  #sobre .container .row .col-sm p {
    line-height: 1.5;
    font-weight: 600;
    color: #fff;
  }
  .title-resultados h3 {
    padding: 10px;
  }
  .title-resultados .container {
    margin: 0;
    padding: 0;
  }
  #resultados {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #resultados .container {
    padding: 10px 0;
  }
  #resultados .container .row {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #resultados .container .row .col-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  #duvidas .container {
    padding: 40px 0;
  }
  #duvidas .container .faq .faq-list {
    padding: 20px;
  }
  #duvidas .container .faq .faq-list .faq-question {
    padding: 20px 20px;
    font-size: 18px;
  }
  #duvidas .container .faq .faq-list .faq-answer p {
    font-size: 16px;
    padding: 20px 20px;
  }
  #garantia .container .row .col-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  #garantia .container .row .col-sm h1 {
    text-align: center;
  }
  #garantia .container .row .col-sm p {
    text-align: center;
  }
  #garantia .container .row .col-sm img {
    padding-top: 3em;
  }
  footer {
    margin: 0;
    padding: 0;
  }
  footer .container .row {
    width: 100%;
  }
  footer .container .row .col-sm {
    padding: 20px 0px;
  }
}

@media screen and (max-width: 1250px) {
  #banner .container-fluid {
    width: 100%;
  }
  #saches .bg-color .container {
    width: 100%;
  }
  #saches .bg-color .container .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  #saches .bg-color .container .row .col-sm {
    width: 100%;
  }
  #resultados .container .row {
    -ms-grid-columns: (auto)[2];
        grid-template-columns: repeat(2, auto);
  }
  #resultados .container .row .col-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.btn-buy {
  width: 350px;
  color: #fff;
  text-decoration: none;
  background: #3acf2b;
  padding: 20px;
  font-weight: 700;
  font-size: 32px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
  margin: 10px 0;
  -webkit-transition: background 1s;
  transition: background 1s;
}

.btn-buy:hover {
  background: #3bb78f;
  color: #fff;
  text-decoration: none;
}

.element {
  -webkit-animation-name: stretch;
          animation-name: stretch;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
          animation-timing-function: ease-out;
  -webkit-animation-direction: alternate;
          animation-direction: alternate;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: none;
          animation-fill-mode: none;
  -webkit-animation-play-state: running;
          animation-play-state: running;
}

@-webkit-keyframes stretch {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes stretch {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@media screen and (max-width: 800px) {
  .btn-buy {
    width: 300px;
  }
}
/*# sourceMappingURL=main.css.map */