* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

.container {
    padding: 0;
}

header {
    width: 100%;
    height: auto;
    background: #ffea00;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;

    .ornament {
        width: 40%;
    }

    .logo {
        width: 200px;
    }
}

#banner {
    background:#ffea00;
    width: 100%;
    height: auto;
    

    .container {
        max-width: 1200px;
        text-align: center;
        padding: 40px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .row {
            display: flex;
            align-items: center;
            justify-content: center;

            .col-sm {
                width: auto;
                margin: 0;
                padding: 0;
                display: flex;
                align-items: start;
                flex-direction: column;

                img {
                    width: 400px;
                }

                h1 {
                    font-size: 40px;
                    font-weight: 800;
                    color: #101010;
                    text-align: left;
                }

                h3 {
                    font-size: 30px;
                    font-weight: 500;
                    color: #101010;
                    text-align: left;
                    padding: 10px 0;
                    
                    span {
                        font-size: 20px;
                        font-weight: 400;
                    }
                }

                p {
                    font-size: 18px;
                    font-weight: 700;
                    color: #101010;
                    display: flex; 
                    align-items: center;
                    justify-content: start;
                    text-transform: uppercase;

                    .check {
                        width: 20px;
                        margin: 0;
                        padding-right: 5px;
                    }
                }

                .selo-garantia {
                    margin-top: 10px;
                    width: 350px;
                    float: left;
                }
            }
        }
    } 
}






