*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

header {
    width: 100%;
    height: auto;
    background: #ffff00;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2px 0;

    .logo {
        width: 200px;
    }

}

#banner {
    background: #ffff00;
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;

    .container-fluid {
        width: 1200px;
        text-align: center;
        padding: 40px 0;

        .row {
            display: flex;
            align-items: center;

            .col-sm {
                
                img {
                    width: 60%;
                }

                h1 {
                    font-size: 40px;
                    font-weight: 800;
                    color: #101010;
                    text-align: left;
                }

                h3 {
                    font-size: 30px;
                    font-weight: 500;
                    color: #101010;
                    text-align: left;
                    
                    span {
                        font-size: 20px;
                        font-weight: 400;
                    }
                }

                p {
                    font-size: 18px;
                    font-weight: 700;
                    color: #101010;
                    display: flex; 
                    align-items: center;
                    justify-content: left;
                    text-transform: uppercase;

                    .check {
                        font-size: 25px;
                        font-weight: 800;
                        margin: 0;
                        padding-right: 5px;
                    }
                }

                a {
                    width: 350px;
                    color: #fff;
                    text-decoration: none;
                    background: #3acf2b;
                    padding: 20px;
                    font-weight: 700;
                    font-size: 37px;
                    text-transform: uppercase;
                    border-radius: 5px;
                    margin: 10px 0;
                    font-family: 'Allerta Stencil';
                    transition: background 1s;
                    float: left;

                    &:hover {
                        background: #3bb78f;
                    }
                }

                .selo-garantia {
                    width: 350px;
                    float: left;
                }
            }
        }
    } 
}






