@media only screen and (max-width: 768px) {

    footer .col-rede-social ul li {
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    * {
        margin: 0 auto;
    }

    header {
        border-bottom: 3px solid #101010;

        .logo {
            width: 300px;
        }

        .ornament {
            display: none;
        }
    }

    #banner {
        padding: 10px 0;
        margin: 0;
    
        .container-fluid {
    
            .row {
                display: flex;
                align-items: center;
                justify-content: center;   

                .col-sm {
                    display: flex;
                    align-items: center;
                    flex-direction: column;
                    
                    img {
                        width: 85%;
                    }
    
                    h1 {
                        font-size: 30px;
                        text-align: center;
                    }
    
                    a {
                        width: 90%;
                        padding: 10px;
                    }
                }
            }
        } 
    }

    #saches {
     
        h1 {
          font-size: 30px;
        }
      
        .container {
            
      
          .row {
            width: 100%;
                 
            .col-sm {
                width: 100%;
                padding-top: 30px;
                margin: 0 auto;
              
              a {
                
                img {
                  width: 270px;
                }
              }
            }
          }
        }
    }

    .title-resultados {

        .container {
            margin: 0;
            padding: 0;
        }
    }


    #resultados {
        display: flex;
        align-items: center;
        justify-content: center;
      
        .container {
          padding: 10px 0;

          .row {
              display: flex;
              align-items: center;
              justify-content: center;

            .col-sm {
                display: flex;
                align-items: center;
                padding-top: 30px;

                .foto1, .foto2 {
                    width: 80%;
                }
            }
          }
        }
      }

    #garantia {
      
        .container {
      
            .row {
      
                .col-sm {
      
                    h1 {
                        text-align: center;
                    }
            
                    p {
                        text-align: center;
                    }
                }
            }
        }  
    }

    #adquirir {
      
        .container {

      
            a {
                font-size: 34px;
                width: 350px;
                padding: 20px;
            }
        }
    }

    footer {
        margin: 0;
        padding: 0;

        .container {

            .row {
                width: 100%;

                .col-sm {
                    padding: 20px 0;
                }
            }
        }
    }
}
