@media only screen and (max-width: 768px) {

    footer .col-rede-social ul li {
        text-align: center;
    }
}

@media only screen and (max-width: 800px) {
    * {
        margin: 0 auto;
        padding: 0;
    }

    header {
        border-bottom: 3px solid #101010;

        .logo {
            width: 200px;
        }

        .ornament {
            display: none;
        }
    }

    #banner {
        padding: 10px 0;
        margin: 0 auto;
    
        .container {
    
            .row {
                width: 400px;

                .col-sm {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    
                    img {
                        width: 55%;
                    }
    
                    h1 {
                        font-size: 30px;
                        text-align: center;
                    }
                }
            }
        }
    }

    #saches {
        .bg-color {
            .container {
                .row {
                    flex-direction: column;
                        
                    .col-sm {
                        width: auto;
                        padding: 30px 0;
                        margin: 0 auto;
                    }
                }
            }
        }
    }

    #sobre {
        
        .container {
          
          .row {
            margin: 0 auto;

            .text-center {
                margin: 0;
            }

            .col-sm {
              padding: 0;
      
              img {
                width: 150px;
              }
      
      
              p {
                line-height: 1.5;
                font-weight: 600;
                color: #fff;
              }
            }
          }
        }
      }

    .title-resultados {

        h3 {
            padding: 10px;
        }

        .container {
            margin: 0;
            padding: 0;
        }
    }


    #resultados {
        display: flex;
        align-items: center;
        justify-content: center;
      
        .container {
          padding: 10px 0;

          .row {
              width: 100%;
              display: flex;
              align-items: center;
              justify-content: center;

            .col-sm {
                display: flex;
                align-items: center;
            }
          }
        }
      }

      #duvidas {
      
        .container {
          padding: 40px 0;
      
          .faq {
            
            .faq-list {
                padding: 20px;
      
              .faq-question {
                padding: 20px 20px;
                font-size: 18px;
              }

              .faq-answer {
                p {
                  font-size: 16px;
                  padding: 20px 20px;
                }
              }
            }
          }
        }
      }

    #garantia {
        .container {
            .row {
                .col-sm {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                
      
                    h1 {
                        text-align: center;
                    }
            
                    p {
                        text-align: center;
                    }

                    img {
                        padding-top: 3em;
                    }
                }
            }
        }  
    }

    footer {
        margin: 0;
        padding: 0;

        .container {

            .row {
                width: 100%;

                .col-sm {
                    padding: 20px 0px;
                }
            }
        }
    }
}

@media screen and (max-width: 1250px) {
    #banner {
        .container-fluid {
            width: 100%;
        }
    }

    #saches {
        .bg-color { 
            .container {
                width: 100%;

                .row {
                    flex-direction: column;

                    .col-sm {
                        width: 100%;
                    }
                }
            }
        }
    }

    #resultados {
        .container {
          .row {
              grid-template-columns: repeat(2, auto);

            .col-sm {
                display: flex;
                align-items: center;
            }
          }
        }
      }
}
